body{
    margin: 0;
    display: flex;
    justify-content:center;

    align-items: center;
    height: 100vh;
    background-color: rgb(138, 162, 184);
}
#calci{
    background-color: rgb(111, 108, 108);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#todisplay{
    width: 100%;
    padding: 20px;
    text-align: left;
    background-color: rgb(193, 186, 186);
    border: none;
    font-size: 20px;
    font-weight: bold;
}
#key{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px;
   padding: 25px;
}
button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: orange;
    font-size: 25px;
    font-weight:bold;
    cursor: pointer;
    border:none;
}
button:hover{
    background-color:rgb(136, 114, 74) ;
}
